/* Light Mode Default */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  font-size: 16px;
  line-height: 1.8;
}

/* Dark Mode Styles */
body[data-theme="dark"], html[data-theme="dark"] {
  color: #f9f9f9;
  background-color: #121212;
}

header {
  background: #fafafa;
  color: #333;
  padding: 25px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header::after {
  content: '';
  display: block;
  height: 24px;
  background-color: #02066F;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

body[data-theme="dark"] header {
  background: #1e1e1e;
  color: #f9f9f9;
}

body[data-theme="dark"] section {
  background-color: #1e1e1e;
  border-bottom: 3px solid #333;
}

.experience-entry, .project-entry, .activity-entry, .skills-entry {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border: none;
}

body[data-theme="dark"] .experience-entry,
body[data-theme="dark"] .project-entry,
body[data-theme="dark"] .activity-entry,
body[data-theme="dark"] .skills-entry {
  background-color: #333;
  color: #f9f9f9;
  border: none;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

body[data-theme="dark"] nav ul li a {
  color: #f9f9f9;
}

nav ul li a:hover,
nav ul li a.current {
  color: #02066F;
  font-weight: 750;
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.35em;
}

body[data-theme="dark"] nav ul li a:hover,
body[data-theme="dark"] nav ul li a.current {
  color: #bbb;
}

/* Invert logo for dark mode */
[data-theme="dark"] header img {
  filter: invert(1);
}

/* Footer Dark Mode */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

body[data-theme="dark"] footer {
  background: #1e1e1e;
  color: #f9f9f9;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
}

body[data-theme="dark"] footer ul li a {
  color: #f9f9f9;
}

body[data-theme="dark"] footer ul li a:hover {
  color: #aaa;
}

/* Button */
#theme-toggle {
  padding: 10px;
  border: none;
  cursor: pointer;
}
